---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/qobilidop-white.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>qobilidop</title>
	</head>
	<body>
		<h1>Bili's Website</h1>
	</body>
</html>
